*{
    margin: 0;
    padding: 0;
}

label{
    font-size: 15px;
}

.container{
    text-align: center;
    margin-top: 5%;
}

.form-login{
    margin: 32px auto;
    width: 15%;
    padding: 32px 48px;
    border: 1px solid;
}

form{
    margin-top: 48px;
}

.form-inline{
    margin-top: 16px;
}

.form-inline label{
    display: inline-block;
    width: 120px;
    margin-right: 8px;
}

.form-inline input{
    padding: 8px 12px;
    border: 1px solid #d8d8d8
}

form .submit{
    width: 100%;
    padding: 12px 16px;
    margin-top: 24px;
    border: 0px;
    background-color: #28a745;
    color:white;
}

.button-cancel{
    margin-top: 32px;
    border:0px;
    padding: 8px 12px;
    color: white;
    background-color: #bd2d2d;
}