.left-banner {
    height: 250px;
    padding: 20px;
    color: white;
    background: #a3a3c2;  
    /* url("https://blogs.nvidia.com/wp-content/uploads/2021/01/list-MSI_Creator_15_studio_blog-400x400.jpg"); */
    background-repeat: no-repeat, repeat;
    background-size: 260%;
    background-position-y: 40%;
}

.right-banner {
    height: 250px;
    padding: 20px;
    color: white;
    background: #a3a3c2;
    /* url("https://blogs.nvidia.com/wp-content/uploads/2021/01/list-MSI_Creator_15_studio_blog-400x400.jpg"); */
    background-repeat: no-repeat, repeat;
    background-size: 260%;
    background-position-y: 40%;
    background-position-x: 100%;
}

.text {
    padding: 3% 5% !important;
    background: black;
    color: white;
    text-align: center;
}

.hero-banner h1 {
    text-decoration: underline;
    padding-bottom: 10px;
}